@import '~/App.scss';

.wrapperBox {
  color: black;
  padding: 28px 32px;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: white;
  min-width: 460px;

  .buttons {
    @include display();
    margin-top: 35px;

    .cancel, .submit {
      padding: 16px 40px;
      font-size: 14px;
      border-radius: 5px;
      height: auto;
      font-weight: 700;
    }

    .cancel {
      margin-right: 25px;
      border-color: $green;
      color: $brown;
      &:hover {
        border-color: $green;
      }
    }

    .submit {
      background-color: $green;
      color: white;
      &:hover {
        border-color: $green;
      }
    }
  }
}
